
 :root{
--bg-grad: (90deg, rgba(46,151,191,1) 15%, rgba(97,202,238,1) 37%, rgba(37,223,196,1) 73%)
 }

 body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 45px;
  }

  html {
    scroll-behavior: smooth;
  }

  #section1 {
    height: 600px;
  }

}
 /* my color pallette */
.bg-mint{
  background-color: #1ed6a5;
}

.bg-gray{
  background-color: #4a4e4c;
}

.font-exo{
  font-family: 'Exo 2', sans-serif;
}

.bg-grad{
background: linear-gradient(90deg, rgba(46,151,191,1) 15%, rgba(97,202,238,1) 37%, rgba(37,223,196,1) 73%);
}

.card-shad {
  
  will-change: filter;
  
  transition: filter .2s ease-out;
}

.card-hov:hover{
  /* height: 15rem; */
  background-color:#1ed6a5;
  outline: 2px solid black;;
  filter: drop-shadow(10px 10px 35px black);
}

.hero-img{
  background-image: url("assetts/biz2.png");
  min-height: 60vh;
  background-position: center;
  background-size: stretch;
  background-repeat: none;
}

.txt-line{
  border-left: 4px solid;
  border-color: #61eebf;
}

.my-text{
    /* flex-direction: row; */
    align-items: center;
}



@media (max-width: 768px) {
  .hero-img{
    background-image: url("");
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }
}

@media (max-width: 768px) {
  .my-card{
   display: none;
  }
}



.col-move{
  order: 0;
}
@media (max-width: 768px) {
  .col-move{
  order: 1;
  }
} 

.card-move{
  position: absolute;
  top: 32rem;
  left: 40rem;
}
@media (max-width: 768px) {
  .card-move{
    
    position: static;
  }
} 
.card-move1{
  order: 0;
}
@media (max-width: 768px) {
  .card-move1{
   order: 3;
  }
} 
.card-move2{
  order: 0;
}
@media (max-width: 768px) {
  .card-move2{
  order: 2;
  }
} 


.card-move3{
  order: 0;
}
@media (max-width: 768px) {
  .card-move3{
   order: 1;
  }
} 


@media (max-width: 768px) {
  .card-move{
    
    position: static;
  }
} 


.glassCard{
  background: rgba(15, 15, 15, 0.354);
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(15, 15, 15, 0.26);
}

.btn-custom{
  /* height: 15px; */
  background-color: var(--bs-primary);
  font-size: 12px;
 
}

